.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
.nf-test/
null/
sample_sheet*
smallest_run_SampleSheet.csv
just_testing*
dragen_demultiplex*.out
NovaSeq_run_SampleSheet.csv
tests/
*.tar.gz
