.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
.nf-test/
null/
smallest_run_SampleSheet.csv
just_testing*
NovaSeq_run_SampleSheet.csv
dragen_demultiplex*.out
tests/
*.tar.gz
info.txt
