/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/demultiplex Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Options: Generic
    input                       = null
    demultiplexer               = "bclconvert"  // enum string [bclconvert, bcl2fastq, bases2fastq, fqtk, sgdemux, mkfastq]

    // Options: samshee, Illumina samplesheet validator
    v1_schema                   = false         // [true, false]
    json_schema_validator       = null          // string
    name_schema_validator       = null          // string
    file_schema_validator       = null          // file .json

    // Options: trimming
    trim_fastq                  = true          // [true, false]
    remove_samplesheet_adapter  = true          // [true, false]

    // Options: tooling
    skip_tools                  = null           // list [fastp, fastqc, kraken, multiqc, checkqc, falco, md5sum, samshee]

    // seqtk sample options
    sample_size                 = 100000

    // Kraken2 options
    kraken_db                   = null         // file .tar.gz

    // Downstream Nextflow pipeline
    strandedness                = "auto"        // enum string [auto, reverse, forward, unstranded]

    // Options: CheckQC
    checkqc_config              = null            // file .yaml

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus  : 4,
                time  : 1.h
            ]
        }
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    test             { includeConfig 'conf/test.config'}
    test_pe          { includeConfig 'conf/test_pe.config'}
    test_bases2fastq { includeConfig 'conf/test_bases2fastq.config'}
    test_bcl2fastq   { includeConfig 'conf/test_bcl2fastq.config'}
    test_bclconvert  { includeConfig 'conf/test_bclconvert.config'}
    test_full        { includeConfig 'conf/test_full.config'}
    test_sgdemux     { includeConfig 'conf/test_sgdemux.config'}
    test_fqtk        { includeConfig 'conf/test_fqtk.config'}
    test_mkfastq     { includeConfig 'conf/test_mkfastq.config'}
    test_uncompressed{ includeConfig 'conf/test_uncompressed.config'}
    test_checkqc     { includeConfig 'conf/test_checkqc.config'}
    test_kraken      { includeConfig 'conf/test_kraken.config'}
    test_two_lanes   { includeConfig 'conf/test_two_lanes.config'}
    test_mgikit      { includeConfig 'conf/test_mgikit.config'   }

}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load nf-core/demultiplex custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nf-core/demultiplex custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/demultiplex.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/demultiplex'
    contributors    = [
        // TODO nf-core: Update the field with the details of the contributors to your pipeline. New with Nextflow version 24.10.0
        [
            name: 'Chelsea Sawyer',
            affiliation: '',
            email: '',
            github: 'https://github.com/csawye01',
            contribution: ['author'],
            orcid: ''
        ],
        [
            name: 'Edmund Miller',
            affiliation: 'Seqera',
            email: '',
            github: 'https://github.com/EdmundMiller',
            contribution: ['author', 'maintainer'],
            orcid: ''
        ],
        [
            name: 'Matthias De Smet',
            affiliation: 'Center For Medical Genetics Ghent',
            email: '',
            github: 'https://github.com/matthdsm',
            contribution: ['author', 'maintainer'],
            orcid: ''
        ],
        [
            name: 'Christopher Barrington',
            affiliation: '',
            email: '',
            github: 'https://github.com/ChristopherBarrington',
            contribution: ['contributor'],
            orcid: ''
        ],
        [
            name: 'Harshil Patel',
            affiliation: 'Seqera',
            email: '',
            github: 'https://github.com/drpatelh',
            contribution: ['contributor'],
            orcid: ''
        ],
        [
            name: 'Daniel E. Cook',
            affiliation: 'Google',
            email: '',
            github: 'https://github.com/danielecook',
            contribution: ['contributor'],
            orcid: ''
        ],
        [
            name: 'Bioinformatics & Biostatistics (BABS) @ The Francis Crick Institute',
            affiliation: 'The Francis Crick Institute',
            email: '',
            github: 'https://github.com/crickbabs',
            contribution: ['contributor'],
            orcid: ''
        ],
        [
            name: 'Nils Homer',
            affiliation: 'Fulcrum Genomics',
            email: '',
            github: 'https://github.com/nh13',
            contribution: ['contributor'],
            orcid: ''
        ],
        [
            name: 'Sam White',
            affiliation: '',
            email: '',
            github: 'https://github.com/sam-white04',
            contribution: ['contributor'],
            orcid: ''
        ],
        [
            name: 'Maxime U Garcia',
            affiliation: 'Seqera',
            email: '',
            github: 'https://github.com/maxulysse',
            contribution: ['contributor', 'maintainer'],
            orcid: 'https://orcid.org/0000-0003-2827-9261'
        ],
        [
            name: 'Anabella Trigila',
            affiliation: 'ZS',
            email: '',
            github: 'https://github.com/atrigila',
            contribution: ['contributor'],
            orcid: 'https://orcid.org/0000-0001-6755-9763'
        ],
        [
            name: 'Nicolas Scholnicov',
            affiliation: 'ZS',
            email: '',
            github: 'https://github.com/nschcolnicov',
            contribution: ['contributor'],
            orcid: ''
        ],
        [
            name: 'Adrien Coulier',
            affiliation: 'Uppsala University, Department of Medical Sciences, Molecular Precision Medicine',
            email: '',
            github: 'https://github.com/aratz',
            contribution: ['contributor', 'maintainer'],
            orcid: ''
        ],
        [
            name: 'Gregor Sturm',
            affiliation: 'Boehringer Ingelheim',
            email: '',
            github: 'https://github.com/grst',
            contribution: ['contributor', 'maintainer'],
            orcid: ''
        ],
        [
            name: 'Alexander Peltzer',
            affiliation: 'Boehringer Ingelheim',
            email: '',
            github: 'https://github.com/apeltzer',
            contribution: ['contributor', 'maintainer'],
            orcid: ''
        ],
        [
            name: 'Thanh Lee',
            affiliation: '',
            email: '',
            github: 'https://github.com/thanhleviet',
            contribution: ['contributor', 'maintainer'],
            orcid: ''
        ],
        [
            name: 'Gabriel Lichtenstein',
            affiliation: '',
            email: '',
            github: 'https://github.com/glichtenstein',
            contribution: ['contributor', 'maintainer'],
            orcid: ''
        ],
        [
            name: 'Kobe Lavaerts',
            affiliation: '',
            email: '',
            github: 'https://github.com/kobelavaerts',
            contribution: ['contributor', 'maintainer'],
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/nf-core/demultiplex'
    description     = """Demultiplexing pipeline for Illumina sequencing data"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.10.5'
    version         = '1.6.2dev'
    doi             = '10.5281/zenodo.7153103'
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.4.2' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    lenientMode = true
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run nf-core/demultiplex -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
        beforeText = """
-\033[2m----------------------------------------------------\033[0m-
                                        \033[0;32m,--.\033[0;30m/\033[0;32m,-.\033[0m
\033[0;34m        ___     __   __   __   ___     \033[0;32m/,-._.--~\'\033[0m
\033[0;34m  |\\ | |__  __ /  ` /  \\ |__) |__         \033[0;33m}  {\033[0m
\033[0;34m  | \\| |       \\__, \\__/ |  \\ |___     \033[0;32m\\`-._,-`-,\033[0m
                                        \033[0;32m`._,._,\'\033[0m
\033[0;35m  nf-core/demultiplex ${manifest.version}\033[0m
-\033[2m----------------------------------------------------\033[0m-
"""
        afterText = """${manifest.doi ? "\n* The pipeline\n" : ""}${manifest.doi.tokenize(",").collect { "    https://doi.org/${it.trim().replace('https://doi.org/','')}"}.join("\n")}${manifest.doi ? "\n" : ""}
* The nf-core framework
    https://doi.org/10.1038/s41587-020-0439-x

* Software dependencies
    https://github.com/nf-core/demultiplex/blob/master/CITATIONS.md
"""
    }
    summary {
        beforeText = validation.help.beforeText
        afterText = validation.help.afterText
    }
}
