cleanup = true
params {
    igenomes_base = "/camp/svc/reference/Genomics/iGenomes"
    tenx_genomes_base = "/camp/svc/reference/Genomics/10x"
    email = "chelsea.sawyer@crick.ac.uk"
    outdir = "/camp/stp/babs/scratch/sawyerc/demultiplexing/"
}

process {

    // Global process config
    executor = 'slurm'

    cpus = 32
    queue = 'babs,compute'
    clusterOptions = '--mem-per-cpu=7168'
    time = { check_max( 2.h * task.attempt, 'time' ) }
    //executor = 'local'

    // Use/unuse appropriate module paths and purge modules
    beforeScript = { "module purge" }

    // Environment modules and resource requirements
    withName: 'reformat_samplesheet' {
      module = ['Python/3.6.6-foss-2018b']
    }
    withName: 'check_samplesheet' {
      module = ['Python/3.6.6-foss-2018b']
    }
    withName: 'make_fake_SS' {
      module = ['Python/3.6.6-foss-2018b']
    }
    withName: 'bcl2fastq_problem_SS' {
      module = ['bcl2fastq2/2.20.0-foss-2018a']
    }
    withName: 'parse_jsonfile' {
      module = ['Python/3.6.6-foss-2018b']
    }
    withName: 'recheck_samplesheet' {
      module = ['Python/3.6.6-foss-2018b']
    }
    withName: 'bcl2fastq_default' {
      module = ['bcl2fastq2/2.20.0-foss-2018a']
    }
    withName: 'cellRangerMkFastQ' {
      module = ['CellRanger/3.0.2-bcl2fastq-2.20.0', 'CellRangerATAC/1.0.1-bcl2fastq-2.20.0', 'CellRangerDNA/1.0.0-bcl2fastq-2.20.0']
    }
    withName: 'cellRangerCount' {
      module = ['CellRanger/3.0.2-bcl2fastq-2.20.0', 'CellRangerATAC/1.0.1-bcl2fastq-2.20.0', 'CellRangerDNA/1.0.0-bcl2fastq-2.20.0']
    }
    withName: 'fastqc' {
      module = ['FastQC/0.11.7-Java-1.8.0_172']
    }
    withName: 'fastq_screen' {
      module = ['FastQ_Screen/0.12.1-foss-2018a-Perl-5.26.1']
    }
    withName: 'multiqc' {
      module = ['MultiQC/1.6-Python-2.7.15-foss-2018a']
    }
    withName: 'multiqcAll' {
      module = ['MultiQC/1.6-Python-2.7.15-foss-2018a']
    }

}
