
params {
    igenomes_base = "/camp/svc/reference/Genomics/iGenomes"
    tenx_genomes_base = "/camp/svc/reference/Genomics/10x"
}

process {

    // Global process config
    executor = 'slurm'
    cpus = 32
    queue = 'babs,compute'
    clusterOptions = '--mem-per-cpu=7168'
    //executor = 'local'

    // Use/unuse appropriate module paths and purge modules
    beforeScript = { "module purge" }

    // Environment modules and resource requirements
    withName: 'reformat_samplesheet' {
      module = ['Python/3.6.4-foss-2018a']
    }
    withName: 'check_samplesheet' {
      module = ['Python/3.6.4-foss-2018a']
    }
    withName: 'make_fake_SS' {
      module = ['Python/3.6.4-foss-2018a']
    }
    withName: 'bcl2fastq_problem_SS' {
      module = ['bcl2fastq2/2.20.0-foss-2018a']
    }
    withName: 'parse_jsonfile' {
      module = ['Python/3.6.4-foss-2018a']
    }
    withName: 'recheck_samplesheet' {
      module = ['Python/3.6.4-foss-2018a']
    }
    withName: 'bcl2fastq_default' {
      module = ['bcl2fastq2/2.20.0-foss-2018a']
    }
    withName: 'cellRangerMkFastQ' {
      module = ['CellRanger/3.0.2-bcl2fastq-2.20.0']
    }
    withName: 'cellRangerCount' {
      module = ['CellRanger/3.0.2-bcl2fastq-2.20.0']
    }
    withName: 'fastqc' {
      module = ['FastQC/0.11.7-Java-1.8.0_172']
    }
    withName: 'fastq_screen' {
      module = ['FastQ_Screen/0.12.1-foss-2018a-Perl-5.26.1', 'Bowtie2/2.3.4.1-foss-2018a']
    }
    withName: 'multiqc' {
      module = ['MultiQC/1.6-Python-2.7.15-foss-2018a']
    }

}
