/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AWS ECR Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config to set public AWS ECR images wherever possible
    This improves speed when running on AWS infrastructure.
    Use this as an example template when using your own private registry.
----------------------------------------------------------------------------------------
*/

docker.registry = 'public.ecr.aws'
podman.registry = 'public.ecr.aws'

process {
    withName: 'BASES2FASTQ' {
        container = 'docker.io/elembio/bases2fastq:1.1.0'
    }
    withName: 'BCL2FASTQ' {
        container = 'docker.io/nfcore/bcl2fastq:2.20.0.422'
    }
    withName: 'BCLCONVERT' {
        container = 'docker.io/nfcore/bclconvert:4.0.3'
    }
    withName: 'MD5SUM' {
        container = 'docker.io/library/ubuntu:20.04'
    }
    withName: 'UNTAR' {
        container = 'docker.io/library/ubuntu:20.04'
    }
}
