/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/demultiplex -profile test_two_lanes,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test two lanes profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with multiple lanes'

    // Input data
    input = '/data/gcbds/externals/schcolni/nfcore_pipelines/demultiplex/testing/full_sample/two_lane_samplesheet.csv'
    demultiplexer = 'bclconvert'
    skip_tools    = "checkqc"

}