/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/demultiplex -profile test_mkfastq,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test mkfastq profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '8.GB'
    max_time   = '1.h'

    // Input data
    input = 'https://raw.githubusercontent.com/nschcolnicov/test-datasets/demultiplex/samplesheet/1.3.0/mkfastq-samplesheet.csv' //TODO update to nf/core repo after pushing, also update samplesheet within samplesheet in test-datasets repo
    demultiplexer = 'mkfastq'
}

//TODO remove
process {
    errorStrategy = 'terminate'
}
