/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/demultiplex -profile test_sgdemux,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '13.GB',
        time: '4.h'
    ]
}

params {
    config_profile_name        = 'Test sgdemux profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input         = 'https://raw.githubusercontent.com/nf-core/test-datasets/demultiplex/samplesheet/1.3.0/sgdemux-samplesheet.csv'
    demultiplexer = 'sgdemux'
}
