/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/demultiplex -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    input         = params.pipelines_testdata_base_path + 'demultiplex/samplesheet/1.3.0/samplesheet_full.csv'
    demultiplexer = 'bcl2fastq'
    v1_schema     = true
}

// Load modules.config afterwards to load ext.args in samshee correctly
process {
    withName: SAMSHEE {
        ext.args = [
            params.json_schema_validator ? "--schema '${params.json_schema_validator}'" : "",
            params.name_schema_validator ? "--schema '${params.name_schema_validator}'" : "",
            params.v1_schema ? "--output-format sectioned" : "",
        ].join(" ").trim()
        errorStrategy = "terminate"
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
