/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/demultiplex -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig '../hpc.config'

params {
    config_profile_name        = 'Test dragen demultiplex profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with dragen'

    // Limit resources so that this can run on GitHub Actions
    max_cpus        = 2
    max_memory      = '6.GB'
    max_time        = '6.h'

    // Input data
    input           = '/data/scratch/LAB/temp_demultiplex/nfcore_demultiplex/sgalera/nfcore_demultiplex/sample_sheet.csv'
    outdir          = '/data/scratch/LAB/temp_demultiplex/to_delete_smallest_run'
    demultiplexer   = 'dragen'

}
