/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/demultiplex -profile test_dragen,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig '../hpc.conf'

params {
    config_profile_name        = 'Test dragen demultiplex profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with dragen'

    // Limit resources so that this can run on GitHub Actions
    max_cpus            =   2
    max_memory          =   '6.GB'
    max_time            =   '6.h'

    // TODO remove this flag when pipeline is correct
    no_split            =   true

    // Input data
    if (params.no_split){
        input           =   '/data/scratch/LAB/temp_demultiplex/nfcore_demultiplex/mansego/nfcore_demultiplex/sample_sheet.csv'
        outdir          =   '/data/scratch/LAB/temp_demultiplex/nfcore_demultiplex/mansego/nfcore_demultiplex/tests/results'
        demultiplexer   =   'dragen'
        sample_size     =   10000
        kraken_db       =   '/data/scratch/LAB/references/dbkraken2/k2_standard_20240112'
    } else {
        input           =   '/data/scratch/LAB/temp_demultiplex/nfcore_demultiplex/mansego/nfcore_demultiplex/sample_sheet_split.csv'
        outdir          =   '/data/scratch/LAB/temp_demultiplex/nfcore_demultiplex/mansego/nfcore_demultiplex/tests/results'
        demultiplexer   =   'dragen'
        sample_size     =   10000
        kraken_db       =   '/data/scratch/LAB/references/dbkraken2/k2_standard_20240112'
    }
}
