<html>
<head>
  <head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="nf-core/demultiplex: Demultiplexing pipeline for Illumina data">
  <title>nf-core/demultiplex Pipeline Report</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body{
      color: #146470;
    }
    .qc{
      color: #196f84; 
      background-color: #ccf5ff; 
      border-color: #ebccd1; 
      padding: 15px; 
      border-radius: 4px;
    }
    .title{
      font-size:3em;
      margin-left: 20px;
    }
    .qcextras{

    }
    a {
      color: #4da9b7;
    }
    .notification{
      border-color: #ebccd1; 
      padding: 15px; 
      margin-bottom: 20px; 
      border: 1px solid transparent; 
      border-radius: 4px;
    }
    .main_div{
        font-family: Helvetica, Arial, sans-serif; 
        padding: 30px; 
        max-width: 900px; 
        margin: 0 auto;
    }
  </style>


</head>
<body>
    <div class="main_div">

        <div>

        <span class="logo"><i class="fa fa-leaf fa-4x"></i></i></span>
        <span class="title"> Demultiplexing Report </span>
        </div>

        </br>

        <h2>Run Name: $runName</h2>

        <% if (!success){
            out << 
            """
            <div class="notification" style="color: #a94442; background-color: #f2dede; ">
                <i class="fa fa-window-close"></i>
                <span style="margin-top:0; color: inherit;">nf-core/demultiplex execution completed unsuccessfully!</span>
                <p>The exit status of the task that caused the workflow execution to fail was: <code>$exitStatus</code>.</p>
                <p>The full error message was:</p>
                <pre style="white-space: pre-wrap; overflow: visible; margin-bottom: 0;">${errorReport}</pre>
            </div>
            """
        } else {
            out << 
            """
            <div class="notification" style="color: #3c763d; background-color: #dff0d8; ">
              <i class="fa fa-check-square fa-1x"> </i>
                <span> nf-core/demultiplex execution completed successfully!</span>
            </div>
            """

        }
        %>



        <% if (success && profile == "crick"){
            out << 
            """
                <div class="qc">
                  <span style="font-size:1.3em" >MultiQC</span>
            """


            out <<
            """
                  <div class="qcextras">
                    <p>
                      <a href="${extra_links.get('MultiQC Global')}" target=\"_blank\" >MultiQC Global</a>
                    </p>
                    <p>
                      <a href="${extra_links.get('Demultiplexing Default')}" target=\"_blank\">Demultiplexing Default</a>
                    </p>
                  </div>

            """

            out<<
            """
                  <table style="">
                    <tbody style="border-bottom: 1px solid #ddd;">
            """ 

            out << project_QC_links.collect{ 
              k,v -> "<tr><th style='text-align:left; padding: 8px 0; line-height: 1.42857143; vertical-align: top; border: none;'>"+
                "<a href='${v}' target=\"_blank\" ><i class=\"fa fa-cubes\"></i> ${k}</a>"+
                "</th>"+
                "<td style='text-align:left; padding: 8px; line-height: 1.42857143; vertical-align: top; border-top:none;'>"+


                "</td></tr>"
              }.join("\n")

            out <<
            """
                  </tbody>
                  </table>
                </div>
            """ 
        }
        %>

        </br></br>



        <p>Do not reply to this message.</p>
        <p>The workflow was completed at <strong>$dateComplete</strong> (duration: <strong>$duration</strong>)</p>
        <i class="fa fa-laptop"></i>
        <span style="font-size:1em" >The command used to launch the workflow was as follows:</span >
        <pre style=" white-space: pre-wrap; overflow: visible; background-color: #ededed; padding: 15px; border-radius: 4px; margin-bottom:30px;">$commandLine</pre>

        </br>

        <h3>Pipeline Configuration:</h3>
        <table style="width:100%; max-width:100%; border-spacing: 0; border-collapse: collapse; border:0; margin-bottom: 30px;">
            <tbody style="border-bottom: 1px solid #ddd;">
                <% out << summary.collect{ k,v -> "<tr><th style='text-align:left; padding: 8px 0; line-height: 1.42857143; vertical-align: top; border-top: 1px solid #ddd;'>$k</th><td style='text-align:left; padding: 8px; line-height: 1.42857143; vertical-align: top; border-top: 1px solid #ddd;'><pre style='white-space: pre-wrap; overflow: visible;'>$v</pre></td></tr>" }.join("\n") %>
            </tbody>
        </table>


        <div>
          <span style="">
            <i class="fa fa-github fa-2x" ></i>
          </span>
          
          <a style="margin-left:10px; vertical-align: middle;" href="https://github.com/csawye01/nf-core-demultiplex">nf-core/demultiplex</a>

        </div>

    </div>
</body>
</html>
